<!-- wrap this whole damn page in an if statement: if @instructor == current_user ooorrrrr 


if @instructor.current_bookings.user == current_user -->

<div class="col-sm-10 col-sm-offset-1">
	<div class="row">
		<div class="page-header">
			<h1>My Classroom</h1>
		</div>	
	</div>
<!-- 
<video id="localVideo"></video>
<div id="remoteVideos"></div> -->
	<div class="row">

		<div class="col-md-8">
			<div class="panel panel-info">
				<div class="panel-heading">Remote video</div>
			  <div class="panel-body">
					<div id="remoteVideos"></div>
			  </div>
			</div>
		</div>

		<div class="col-sm-4">
			<div class="panel panel-success">
				<div class="panel-heading">Local video</div>
			  <div class="panel-body">
					<video id="localVideo"></video>
			  </div>
			</div>
		</div>
		
		<script>
			var webrtc = new SimpleWebRTC({
		    // the id/element dom element that will hold "our" video
		    localVideoEl: 'localVideo',
		    // the id/element dom element that will hold remote videos
		    remoteVideosEl: 'remoteVideos',
		    // immediately ask for camera access
		    autoRequestMedia: true
		});
			// we have to wait until it's ready
		webrtc.on('readyToCall', function () {
		    // you can name it anything
		    webrtc.joinRoom('my class');
		});
		</script>
	</div>

	<div class="row">
		<i class="text-info">You may need to enable this page to use your camera and mic.</i> 
		<% if current_user && current_user.instructor == nil %>
			<i class="text-info">Some browsers don't support this broswer chat. If this is the case for you, please contact your instructor on skype</i>

			<a class="btn btn-primary btn-xs" href=<%="skype: #{@instructor.skype}?chat"%> role="button"><span class="glyphicon glyphicon-phone-alt"> </span>&nbsp;&nbsp;Open a Skype Call</a>

		<% end %>
	</div>
</div>