<% if @booking.errors.any? %>
  <% @booking.errors.full_messages.each do |error| %>
    alert("<%= error %>" );
  <% end %>
<% else %>
  $('.add_booking_link').show();
  $('#new_booking').html("");
  $('<div class=""></div>teacher_calendar').fullCalendar( 'refetchEvents' );
<% end %>