<div class="container">
	<div class="col-sm-6 col-sm-offset-3">
		<div class="page-header">
		  <h1>About Teachme <br><small>Education on demand</small></h1>
		</div>
		<div class="row">
			<div class="panel panel-info">
				<div class="panel-heading">
					<h3 class="panel-title">Teachme was started by two guys outta Toronto</h3>
				</div>
			  <div class="panel-body">
			    Chris and Mike both had similar ideas for an app and they thought they worked together pretty well so they decided to team up to see what they could do. <br> <br>It is their hopes that people will really use their product to connect with with anyone around the world who wishes to teach. Because everyone (ok, most) can educate and everyone should learn.
			  </div>
			</div>
		</div>
		<br>
		<div class="row">
			<blockquote class="blockquote-reverse">
				<p>I really wish I could just hire someone to teach me from the comfort of my living room. It's cold/hot/rainy/Ragnarök outside.</p>
				<footer>Someone famous in Cincinnati <cite title="Source Title">and worth emulating.</cite></footer>
			</blockquote>
		</div>
	</div>
</div>
