<div class="container">
	<div class="col-sm-6 col-sm-offset-3">
		<div class="page-header">
			<h1>Contact Us</h1>
		</div>
		<address>
		  <strong>Twitter, Inc.</strong><br>
		  795 Folsom Ave, Suite 600<br>
		  San Francisco, CA 94107<br>
		  <abbr title="Phone">P:</abbr> (123) 456-7890
		</address>

		<address>
		  <strong>Full Name</strong><br>
		  <a href="mailto:#">first.last@example.com</a>
		</address>
		
	</div>
</div>
